html {
	overflow: hidden;
}

body {
	margin: 0;
	background-color: black;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

bolo-game {
	display: block;
    box-sizing: border-box;
	
	width: 100vw;
	height: 100%;
	height: 100dvh;
	
	border: 1em solid black;
}